@model IEnumerable<Assignment_2.Models.Report>

@{
    ViewBag.Title = "Consultant : Index";
}

<h2>Consultant: List of reports</h2>

<!-- we create report by adding expenses to it first -->
<p>
    @Html.ActionLink("Create New Report", "Create", "Expense")
</p>

<table>
    <tr>
        <th> @Html.ActionLink("All Reports", "Index")</th>
        <th> @Html.ActionLink("Department Supervisor Approved Report", "FilterReport", "Consultant", new { status = "ApprovedByDepartmentSupervisor" }, null)</th>
        <th> @Html.ActionLink("Account Staff Approved Report", "FilterReport", "Consultant", new { status = "ApprovedByAccountStaff" },null)</th>
        <th> @Html.ActionLink("Pending Reports", "FilterReport", "Consultant", new { status = "SubmittedByConsultant" }, null)</th>
     </tr>
</table>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Report", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>