@model IEnumerable<Assignment_2.Models.Report>
@{
    ViewBag.Title = "Index";
}

<h2>Account Staff : View Reports</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Report", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back To Index", "ReturnToCorrectIndex", "Report")
