@model IEnumerable<Assignment_2.Models.Expense>

<!-- Report: Create
    showing a pending list of expenses to be added in the current report -->

@{
    ViewBag.Title = "Consultant: Create report";
}

<h2>Report: List of expenses</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        { 
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>

            <td>@Html.DisplayFor(modelItem => item.Location)</td>

            <td>@Html.DisplayFor(modelItem => item.Amount)</td>

            <td>@Html.DisplayFor(modelItem => item.Date)</td>
        </tr>
        }
    }

</table>

<!-- expense list and report info is submitted here -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
       
    <fieldset>
        <legend>Report</legend>
        <p>
            <input type="submit" value="Attach Receipt" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Add Expense", "Create", "Expense")
</div>

<div>
    @Html.ActionLink("Back to Your Index", "ReturnToCorrectIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}