@model Assignment_2.Models.Report

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Consultant", FormMethod.Post, new { EncType="multipart/form-data"}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Report</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConsultantId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConsultantId)
            @Html.ValidationMessageFor(model => model.ConsultantId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Receipt)
        </div>
        <div class="editor-field">
            <!-- this input is not processing receipt properly -->
            @Html.HiddenFor(model => model.Receipt)
            @Html.ValidationMessageFor(model => model.Receipt)
            <input type="file" name="file" />
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Add Expenses", "Create", "Expense");

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
