@model Assignment_2.Models.Report
<!-- Report: Details
    showing report info and its attached expenses -->
@{
    ViewBag.Title = "Report: Details";
}

<h2>Report: Details</h2>

<table>
   <tr>
        <th>
            <b>ConsultantId</b>
        </th>
        <th>
            <b>Status</b>
        </th>
        <th>
            <b>Date</b>
        </th>
        <th>
            <b>Receipt</b>
        </th>

    </tr>
    <tr>
        <td>
             @Html.DisplayFor(model => model.ConsultantId)
        </td>
        <td>
             @Html.DisplayFor(model => model.Status)
        </td>
        <td>
             @Html.DisplayFor(model => model.Date)
        </td>
        <td>
             @Html.ActionLink("Show Receipt", "ShowReceipt");
        </td>
    </tr>
</table>

<table>
    <tr>
        <th>
            <b>Date</b>
        </th>
        <th>
            <b>Description</b>
        </th>
        <th>
            <b>Location</b>
        </th>
        <th>
            <b>Amount</b>
        </th>
    </tr>

@foreach (var item in Model.Expenses)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Back to List", "ReturnToCorrectIndex")
</p>
