@model IEnumerable<Assignment_2.Models.Report>

@{
    ViewBag.Title = "Index";
}

<h2>Department Supervisor</h2>
<p>Welcome @ViewBag.Username</p>
<br />
<h3>Department Information</h3>
<table border="1">
    <tr>
        <td class="auto-style2">Department Name</td>
        <td>
            @ViewBag.Department.Name
        </td>
    </tr>
    <tr>
        <td class="auto-style2">Department Budget
        </td>
        <td>
            $@ViewBag.Department.getTotalBudget()
        </td>
    </tr>
    <tr>
        <td class="auto-style2">Remaining Budget
        </td>
        <td>
            $@ViewBag.Department.getRemainingBudget()
        </td>
    </tr>
    <tr>
        <td class="auto-style2">Expense Reports Approved
        </td>
        <td>
            $@ViewBag.Department.TotalExpense()
        </td>
    </tr>
 </table>
<h3>Report List</h3>
<table>
    <tr>
        <th> @Html.ActionLink("All Reports", "Index")</th>
        <th> @Html.ActionLink("Pending Reports", "FilterReport", "DepartmentSupervisor", new { status = "SubmittedByConsultant" }, null)</th>
        <th> @Html.ActionLink("Rejected By Account Staff", "FilterReport", "DepartmentSupervisor", new { status = "RejectedByAccountStaff" },null)</th>
     </tr>
</table>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>
@foreach (var item in Model)
    {
     <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Report", new { id = item.Id }, null)
        </td>
    </tr>
}


</table>
